:root{
    --primary-color: tomato;
    --secondary-color: purple;
    --primary-border: 1px solid black;
    --meri-padding:12px;
}
h1{
    color: var(--primary-color);
}
h6{
    color: var(--primary-color);
}
h5{
    color: var(--primary-color);
    border: var(--primary-border);
    padding: var(--meri-padding);
}
